<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Terapi Uygulaması{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block head %}{% endblock %}
    <style>
        .word-display {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin: 20px 0;
        }
        
        .word-group {
            display: inline-flex;
            margin-right: 0;
        }
        
        .letter {
            display: inline-block;
            width: 1.5em;
            text-align: center;
            font-size: 1.5em;
            font-weight: bold;
            margin: 0 2px;
            color: #333; 
        }
    </style>
</head>
<body>
    <div class="nav-menu">
        <a href="{{ url_for('breathing_bp.index') }}" class="nav-item {% if request.path == url_for('breathing_bp.index') %}active{% endif %}">Nefes Çalışması</a>
        <a href="{{ url_for('index') }}" class="nav-item {% if request.path == url_for('index') %}active{% endif %}">Kelime Çalışması</a>
        <a href="{{ url_for('bosluk_bp.index') }}" class="nav-item {% if request.path == url_for('bosluk_bp.index') %}active{% endif %}">Boşluk Doldurmaca</a>
    </div>
    
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {% block scripts %}{% endblock %}
    <footer>
        <p>
            projeye yardim etmek icin: <a href="https://github.com/caltunay/therapy-app-data-generator" target="_blank">github</a> 
            | <a href="https://www.linkedin.com/in/cenan-altunay/" target="_blank">linkedin</a> 
            | <a href="mailto:cenan.altunay@gmail.com">cenan.altunay@gmail.com</a>.
        </p>
    </footer>
</body>
</html>